body{
        background-color:yellowgreen;
        font-family:'arial';
        }
      p{
      color:blue;
      font-size:20px;
      }    
    h1{
       color:red;
       background-color:yellow;
       text-align:center;
       }